@model List<NorthPoleGiftSystem.Models.WishlistModel.WishlistListItem>

@{
    ViewData["Title"] = "Wishlists";
}

<h1>Wishlists</h1>
<hr />
<p>
    <a asp-action="Create">Create New Wishlist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().WishlistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ElfID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WishlistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElfID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WishlistID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.WishlistID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.WishlistID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
