@model List<NorthPoleGiftSystem.Models.WishlistModel.WishlistListItem>

@{
    ViewData["Title"] = "Wishlists";
}

<style>
    body,
    h1,
    a,
    th,
    td {
        font-family: 'Comic Sans MS', sans-serif;
    }

    a {
        color: red;
    }

    .table a {
        color: white !important;
        display: block;
        padding: 5px 0;
    }

    .white-text {
        color: white !important;
    }

    .table {
        border-collapse: collapse !important;
        width: 100% !important;
    }

    .table th,
    .table td {
        border: 1px solid white !important;
        padding: 8px !important;
    }

    .table .link-cell {
        white-space: nowrap;
    }

    .table .link-cell a {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<h1>Wishlists</h1>
<hr />
<p>
    <a asp-action="Create">Create New Wishlist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="white-text">
                @Html.DisplayNameFor(model => model.First().WishlistName)
            </th>
            <th class="white-text">
                @Html.DisplayNameFor(model => model.First().ElfID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="white-text">
                    @Html.DisplayFor(modelItem => item.WishlistName)
                </td>
                <td class="white-text">
                    @Html.DisplayFor(modelItem => item.ElfID)
                </td>
                <td class="link-cell">
                    <a asp-action="Details" asp-route-id="@item.WishlistID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.WishlistID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.WishlistID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
