@model List<NorthPoleGiftSystem.Models.Gift.GiftListItem>

<h2>Gifts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().GiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.GiftID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.GiftID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.GiftID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
